.login-right {
	background-image: url(./assets/login_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.EmailInput {
	width: 100%;
}

/* in index.css or global.css */
.input {
	@apply w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300;
}
